$color: #118cff;

body {
  width: inherit;
  margin: 0 auto;
  background: rgb(255, 255, 156);
}
header {
  padding: 10px;
  margin: 30px 0;
}

h1 {
  color: $color;
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: $color;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  text-align: center;
}

p {
  color: $color;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  text-align: center;
  line-height: 2;

}

main {
  position: relative;
  width: inherit;
  display: flex;
}

.gallery {
  position: absolute;
  height: 600px;
  width: 900px;
  top: 0px;
  left: 0px;
}

.gallery ul {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 100px;
  width: inherit;
}

ul li {
  width: 250px;
  height: 250px;
  display: block;
  text-align: center;
  line-height: 250px;
}

.game-canvas {
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-image: url(../src/scripts/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 900px 600px;
}

.center {
  width: 900px;
  position: relative;
}

.legend {
  background-image: url(../src/scripts/assets/in-gamekey.jpg);
  background-repeat: no-repeat;
  position: relative;
  right: 0px;
  top: 25px;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
}

.splash-intro {
  width: 900px;
  height: 600px;
  background: rgb(161, 255, 247);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  border-radius: 10px;
  padding: 0 40px;
  box-sizing: border-box;
}



.intro {
  width: 800px;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}

.instruction-inner {
  display: flex;
  height: 412px;
}

.key-img {
  width: 300px;
  height: 412px;
  border-radius: 10px;
  background:rgb(255, 213, 213);
  margin-left: 10px;
  text-align: center;
  padding: 0 3px;
}

.legend-img {
  width: 550px;
  background: #d5ffd6;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 20px;
}
.instruction {
  width: 900px;
  height: 600px;
  background: rgb(161, 255, 247);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
}

.winner {
  width: 900px;
  height: 600px;
  background: rgb(253, 143, 204);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  border-radius: 10px;
  padding: 0 40px;
  box-sizing: border-box;
}

.winner h1 {
  color: yellow;
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align: center;
}

.game-over {
  width: 900px;
  height: 600px;
  background: rgb(0, 188, 245);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  border-radius: 10px;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 100;
}

.heading {
  width: 536px;
  margin: 0 auto;
}

.game-over h1 {
  color: yellow;
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align: center;
}

.icons {
  position: absolute;
  display: flex;
  top: 20px;
  left: 20px;
  width: 350px;
  height: 113px;
  justify-content: space-around;
  background: rgb(224, 255, 247);
  border: 5px solid rgb(109, 109, 109);
  border-radius: 5px;
  box-sizing: border-box;
}

.wrapper {
  height: 100px;
  line-height: 100px;
}

.selected {
  outline: 5px solid rgb(85, 255, 127);
  border-radius: 5px;
  background: rgb(0, 29, 192, .33);
}

.view {
  width: inherit;
}

.left {
  width: 25%;
}

.right {
  width: 25%;
}

.hidden {
  display: none;
}

.current {
  outline: 5px dashed white;
  box-sizing: border-box;
  padding: 10px;
}

.artwork-counter {
  width: 180px;
  height: 50px;
  background: white;
  float: left;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  top: 20px;
}

.countdown-timer {
  font-size: 40px;
  position: absolute;
  width: 100px;
  height: 40px;
  right: 20px;
  top: 80px;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
  background: white;
  vertical-align: middle;
  text-align: center;
}

.score {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 10px;
}

.winner p {
  font-color: yellow;
}

.artwork {
  padding: 10px;
}


.sculpture {
  padding: 10px;
}

.painting {
  padding: 10px;
}